body.boxed {
  background: #FFF;
  max-width: 79rem;
  margin: auto;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.15); }

.headerphoto {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30vw;
  max-height: 30vh; }

.menu > li.menu-text {
  padding: 0; }
  .menu > li.menu-text a {
    color: #000; }
  .menu > li.menu-text.active a {
    color: #FFF;
    background-color: #000; }

/**
 * Styles for 'responsive video embeds'
 */
.responsive-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden; }

.responsive-video.vimeo {
  padding-top: 0; }

.responsive-video.widescreen {
  padding-bottom: 57.25%; }

.responsive-video embed, .responsive-video iframe, .responsive-video object, .responsive-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute; }

@media (max-width: 767px) {
  .responsive-video {
    padding-top: 0; } }
