// Your theme-specific styles go in here.
@charset 'utf-8';

@import 'settings';


body.boxed {
    background: #FFF;
    max-width: $global-width + 4rem;
    margin: auto;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.15);
}

// The Headerphoto, with the background image.
.headerphoto {
    background-size : cover;
    background-repeat : no-repeat;
    background-position:center;
    height: 18vw;
    max-height: 287px;
}


// Override the a inside .menu-text, for topbar navigation, where the 'homepage' has a link.
.menu > li.menu-text a {
    padding: 0;
}