// Your theme-specific styles go in here.

// The Headerphoto, with the background image.
.headerphoto {
    background-size : cover;
    background-repeat : no-repeat;
    background-position:center;
    height: 18vw;
    max-height: 287px;
}

footer hr {
    max-width: 100%;
}

body.boxed {
    background: #FFF;
    max-width: $global-width + 4rem;
    margin: auto;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.15);
}