{% extends '_master.twig' %}

{% block main %}

        <h1>{{ record.title }}</h1>

        {{ fields() }}

        {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
        {{ print(record) }}
        #}

        {% include '_recordfooter.twig' with { 'record': record } %}


{% endblock main %}

