{% extends '_master.twig' %}

{% block main %}
    <div class="row">
      <div class="large-12 columns">

        <h1>{{ record.title }}</h1>

        {{ fields() }}

      </div>
    </div>

{% endblock main %}